* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    transition: 0.4s;

  }

  body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .carousel,
  .dark-fade {

    width: 100%;



  }

  .dark-fade,
  .d-block {
    height: 100vh;
  }

  .d-block {
    object-fit: cover;
    z-index: 1;

  }


  .carousel {

    background-size: cover;
    background-position: center;
    object-fit: cover;

  }

  .conteudo {
    position: absolute;
    z-index: 3;
    width: 100%;
    top: 40vh;
  }

  .dark-fade {
    z-index: 2;
    position: absolute;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.256), rgba(11, 11, 11, 0.955));


  }

  header {
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(15, 15, 15, 0.281);
    backdrop-filter: blur(50px);
    padding: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.212);

  }



  [data-target="#mainMenu"] {
    position: relative;
    z-index: 999;
  }



  #mainMenu li>a {
    font-size: 12px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 400;
    position: relative;
    z-index: 1;
    text-decoration: none;
  }

  .main-header.fixed-nav #mainMenu li>a {
    color: #fff;
    text-decoration: none;

  }

  #mainMenu li {

    margin-left: 30px;
    text-align: right;
  }

  #mainMenu li>a::before {
    position: absolute;
    content: "";
    width: calc(100% - 1px);
    height: 1px;
    background: #fff;
    bottom: -6px;
    left: 0;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    z-index: -1;

    -webkit-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
  }

  #mainMenu li>a:hover::before,
  #mainMenu li>a.active::before {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
  }






  .main-header .navbar-brand img {
    max-width: 40px;
    animation: fadeInLeft 0.4s both 0.4s;
  }

  /*main stars*/


  header h1 a {

    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: bolder;
    letter-spacing: 10px;
    display: flex;
    margin-top: 5px;
    text-decoration: none;
    font-variant: small-caps;
    text-align: left;




  }

  header h1 a:hover {

    text-decoration: none;
    color: rgb(255, 255, 255);




  }



  .logo-canada {

    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding-left: 2vw;
    text-align: left;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.554));

  }

  .logo-canada img {

    width: calc(2.5rem + 1vw);
    border: 2px dashed #ffffff;
    border-radius: 10rem;
    padding: 2px;
    object-fit: cover;

  }

  .logo-canada span {
    width: 3px;
    height: 50px;
    background-color: rgb(255, 255, 255);

  }

  nav {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-right: 2vw;

  }

  nav a {

    color: rgb(255, 255, 255);
  }

  .main {

    padding: 1rem;


  }

  .main h2,
  p {


    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    font-weight: bolder;


  }

  .text h2 {
    font-size: clamp(2em, 1em + 7vw, 5em);

  }

  .text p {

    font-weight: bolder;
    font-variant: small-caps;
    font-size: 1.5rem;
  }

  .text {


    display: flex;
    max-width: 100%;
    width: 45rem;
    flex-direction: column;
    padding-left: 5vw;
    gap: 1rem;

  }

  .sec-link1 aside {

    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    width: 30rem;


  }

  .sec-link2>aside,
  .sec-link1>aside {

    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    width: 30rem;



  }

  aside {
    max-width: 100%;
    padding: 1rem;
  }

  .sec-link1,
  .sec-link2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    filter: drop-shadow(-3px -3px 10px rgba(0, 0, 0, 0.453));
  }

  .sec-link1 {
    max-width: 100%;
    height: 30rem;
    background-color: rgb(119, 3, 3);
  }

  .sec-link2 {
    width: 100%;
    height: 30rem;
    background-color: rgb(241, 237, 237);
  }

  .sec-link2 h2,
  .p-sec2,
  a {
    text-align: center;
    color: rgb(171, 3, 3);



  }

  .sec-link1 h2,
  .p-sec1 {
    color: rgb(255, 255, 255);
    text-align: center;


  }

  #link1 {
    color: #fff;
  }

  .p-sec2 {

    font-size: 1.2rem;


  }

  .sec-link2 h2 {

    font-size: 3em;
    font-weight: bolder;
    letter-spacing: 5px;
    display: flex;
    margin-top: 5px;
    text-decoration: none;
    font-variant: small-caps;



  }



  .sec-link1 h2 {

    font-size: 3em;
    font-weight: bolder;
    letter-spacing: 5px;
    display: flex;
    margin-top: 5px;
    text-decoration: none;
    font-variant: small-caps;



  }

  .img-2 {
    max-width: 100%;
    width: 50rem;
    height: 20rem;
  }

  .img-2 img {
    width: 100%;

    height: 20rem;
    object-fit: cover;
    border: 2px solid rgba(16, 16, 16, 0.144);
    border-radius: 1rem;
    box-shadow: 10px 10px 10px rgba(38, 38, 38, 0.346);

  }

  footer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 15rem;
    background-color: rgb(20, 20, 20);
    gap: 1rem;

  }

  footer h3 {
    color: #fff;
  }

  footer p {
    font-size: xx-small;
    margin-bottom: 0;
  }

  .redes {

    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 4rem;

  }

  .redes .fa {

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.692);
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 20rem;
    text-decoration: none;
    filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, 0.555));
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.678);
    transition: 0.4s ease-in-out;
    transform: scale(1.2);


  }


  .fa:hover {

    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: rgb(124, 17, 17);
    transform: scale(1.4);


  }


  .fa-facebook,
  .fa-instagram,
  .fa-github {

    background: rgb(22, 22, 22);
    color: rgb(255, 255, 255);


  }


  @media (max-width: 1500px) {


    .sec-link1,
    .sec-link2 {

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      height: max-content;
      padding: 2rem;
    }

    .sec-link1 {

      display: flex;
      flex-direction: column-reverse;

    }

    .sec-link1>aside,
    .sec-link2>aside {
      margin-right: 0;
      margin-left: 0;
    }
  }




  @media (max-width: 991px) {

    .conteudo {

      width: 100%;
      padding: 1.3rem;
      height: max-content;
      display: flex;
      justify-content: center;
      align-items: center;
      object-fit: cover;
      box-sizing: border-box;


    }

    .main {
      max-width: 100%;
      width: 30rem;
      padding: 0;



    }



    .text {
      padding: 0;
      object-fit: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

    }

    .text h2 {
      font-size: 3rem;

    }

    .text p {

      font-size: 1rem;

    }


    #mainMenu ul {

      width: 100vw;
      height: max-content;
      background-color: #2c2c2c81;
      backdrop-filter: blur(50px);
      display: flex;
      flex-direction: column;     
      padding-right: 6vw;
      padding-bottom: 2vw;
      border-bottom: 2px solid #96969650;
      border-left: 2px solid #96969650;
    }

    #mainMenu li {
      object-fit: cover;
      display: flex;
      justify-content: center;
      margin-top: 1rem;

    }



    .carousel-item img,
    .dark-fade {

      width: 100%;


    }

    /*header starts*/
    .collapse.in {
      display: block !important;
      padding: 0;
      clear: both;
    }

    .navbar-toggler {
      z-index: 5;
      position: absolute;
      width: 40px;
      height: 40px;
      border-radius: 0;
      margin-right: 2rem;

    }


    .main-header .navbar {
      float: none;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
    }

    .main-header .navbar-nav li .nav-link {
      text-align: center;
      padding: 20px 15px;
      border-radius: 0px;
      width: 100%;

    }

    /**/


    .burg {
      position: absolute;
      width: 80%;
      background-color: rgba(255, 255, 255, 0.757);
      left: 0px;
      height: 3px;
      border-radius: 3px;
    }

    #d1 {

      top: 11px;

    }

    #d3 {
      top: 27px;
    }


    .navbar {

      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .navbar-collapse {
      position: absolute;
      top: 3rem;
      right: -1rem;



    }

    .main-header .navbar-nav li .nav-link {
      text-align: center;
      padding: 20px 15px;
      border-radius: 0px;
    }

    /**/


    .burg {
      position: absolute;
      width: 80%;
      background-color: rgba(255, 255, 255, 0.757);
      left: 0px;
      height: 3px;
      border-radius: 3px;
    }

    #d1 {

      top: 11px;

    }

    #d3 {
      top: 27px;
    }
  }


  .reveal {
    position: relative;
    transform: translatey(25px);
    opacity: 0;
    transition: all 1s ease;
  }

  .reveal.active {
    transform: translatey(0px);
    opacity: 1;

  }